<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/main.css">
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <header class="about-header text-center">
        <h1 class="display-4">Sobre Nosotros</h1>
        <p class="lead">Descubre quiénes somos y nuestra pasión por el cine.</p>
    </header>

    <section class="about-section container">
        <div class="row">
            <div class="col-md-6 about-text">
                <h2>Nuestra Historia</h2>
                <p>Somos un equipo apasionado por el cine, comprometidos a llevarte la mejor experiencia cinematográfica. Desde nuestros inicios, hemos trabajado incansablemente para compartir la magia del séptimo arte con todos ustedes. Nuestra misión es conectar a las personas a través de historias increíbles y emocionantes.</p>
            </div>
            <div class="col-md-6 about-image">
                <img src="/img/imagen2.jpg" alt="Equipo" class="img-fluid rounded">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 about-image">
                <img src="/img/imagen3.jpg" alt="Nuestro Equipo" class="img-fluid rounded">
            </div>
            <div class="col-md-6 about-text">
                <h2>Nuestro Equipo</h2>
                <p>Con un equipo diverso y talentoso, estamos dedicados a ofrecerte no solo las últimas películas, sino también una experiencia inolvidable en cada visita. Conocedores del arte cinematográfico y la tecnología, estamos aquí para asegurarnos de que disfrutes cada proyección con la mejor calidad y servicio.</p>
            </div>
        </div>
    </section>

    <footer class="footer">
        <%- include('partials/footer') %>
    </footer>
</body>
</html>
