<footer>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil cumque asperiores placeat sed voluptatum rem accusamus sunt enim molestiae facilis fuga natus perspiciatis deleniti aliquam maxime consectetur, ducimus iusto facere!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis impedit dolore atque amet delectus dolorem error eligendi distinctio fugiat quos adipisci tempore aspernatur, deserunt dolor facere dolorum, vitae itaque iste.</p>
    
</footer>